In [4]:
ask = input("Do you want Books(1) or Notebook(2): ")

# ---------------- BOOKS ----------------
if ask == '1':

    standard = int(input("Enter Standard: "))
    subject = input("Enter Subject: ")

    # Decide standard group
    if 1 <= standard <= 4:
        std_group = '1-4'
    elif 5 <= standard <= 8:
        std_group = '5-8'
    else:
        std_group = '9-10'

    # Dictionary
    books = {
        '1-4': {
            'Hindi': 60,
            'Marathi': 60,
            'English': 80,
            'Science': 90,
            'Maths': 100
        },

        '5-8': {
            'Hindi': 100,
            'Marathi': 100,
            'English': 100,
            'Science': 120,
            'Maths': 140
        },

        '9-10': {
            'Hindi': 150,
            'Marathi': 150,
            'English': 150,
            'Science': 200,
            'Maths': 250
        }
    }

    price = books[std_group][subject]
    print("Book Price =", price)


# ---------------- NOTEBOOK ----------------
else:

    pages = int(input("Enter Pages (100 or 200): "))
    book_type = input("Enter Book Type: ")

    notebooks = {
        100: {
            'square': 40,
            '4lines': 30,
            '2lines': 20,
            'single line': 60,
            'A4': 100
        },

        200: {
            'square': 70,
            '4lines': 50,
            '2lines': 50,
            'single line': 100,
            'A4': 180
        }
    }

    price = notebooks[pages][book_type]
    print("Notebook Price =", price)

Do you want Books(1) or Notebook(2): 1
Enter Standard: 6
Enter Subject: Maths
Book Price = 140

In [6]:
cart = []

ask = input("Books(1) or Notebook(2): ")

# ---------------- BOOKS ----------------
if ask == '1':

    standard = int(input("Enter Standard: "))

    if 1 <= standard <= 4:
        std = '1-4'
    elif 5 <= standard <= 8:
        std = '5-8'
    else:
        std = '9-10'

    books = {
        '1-4': {'Hindi':60,'Marathi':60,'English':80,'Science':90,'Maths':100},
        '5-8': {'Hindi':100,'Marathi':100,'English':100,'Science':120,'Maths':140},
        '9-10': {'Hindi':150,'Marathi':150,'English':150,'Science':200,'Maths':250}
    }

    n = int(input("How many books: "))

    for i in range(n):
        subject = input("Enter Subject: ").title()
        qty = int(input("Quantity: "))

        price = books[std][subject]
        total = price * qty

        cart.append([subject, price, qty, total])


# ---------------- NOTEBOOK ----------------
else:

    pages = int(input("Pages (100/200): "))

    notebooks = {
        100: {'square':40,'4lines':30,'2lines':20,'single line':60,'A4':100},
        200: {'square':70,'4lines':50,'2lines':50,'single line':100,'A4':180}
    }

    n = int(input("How many notebooks: "))

    for i in range(n):
        book_type = input("Type: ").lower()
        qty = int(input("Quantity: "))

        price = notebooks[pages][book_type]
        total = price * qty

        cart.append([book_type, price, qty, total])


# ---------------- BILL ----------------
bill = input("Do you want bill? (yes/no): ")

if bill.lower() == 'yes':

    print("\n----------- BILL -----------")
    print("Sr\tName\t\tPrice\tQty\tTotal")

    grand_total = 0

    for i, item in enumerate(cart, 1):
        print(f"{i}\t{item[0]}\t\t{item[1]}\t{item[2]}\t{item[3]}")
        grand_total += item[3]

    print("----------------------------")
    print("Grand Total = ₹", grand_total)
    print("----------------------------")

Books(1) or Notebook(2): 1
Enter Standard: 6
How many books: 5
Enter Subject: Maths
Quantity: 4
Enter Subject: Science
Quantity: 5
Enter Subject: English
Quantity: 4
Enter Subject: Science
Quantity: 2
Enter Subject: Marathi
Quantity: 6
Do you want bill? (yes/no): yes

----------- BILL -----------
Sr	Name		Price	Qty	Total
1	Maths		140	4	560
2	Science		120	5	600
3	English		100	4	400
4	Science		120	2	240
5	Marathi		100	6	600
----------------------------
Grand Total = ₹ 2400
----------------------------

In [7]:
books_dict = {
    "Hindi": {
        "1st-4th": 60,
        "5th-8th": 100,
        "9-10th": 150
    },
    "Marathi": {
        "1st-4th": 60,
        "5th-8th": 100,
        "9-10th": 150
    },
    "English": {
        "1st-4th": 80,
        "5th-8th": 100,
        "9-10th": 150
    },
    "Science": {
        "1st-4th": 90,
        "5th-8th": 120,
        "9-10th": 200
    },
    "Maths": {
        "1st-4th": 100,
        "5th-8th": 140,
        "9-10th": 250
    }
}

notebook_dict = {
    "square": {100: 40, 200: 70},
    "4 lines": {100: 30, 200: 50},
    "2 lines": {100: 30, 200: 50},
    "single lines": {100: 60, 200: 100},
    "A4": {100: 100, 200: 180}
}

bill = []
total = 0

standard = int(input("Enter Standard: "))

if 1 <= standard <= 4:
    std_key = "1st-4th"
elif 5 <= standard <= 8:
    std_key = "5th-8th"
elif 9 <= standard <= 10:
    std_key = "9-10th"
else:
    print("Invalid Standard")
    exit()

choice = input("Do you want Books? (yes/no): ")

while choice == "yes":
    book = input("Enter Book Name: ")
    qty = int(input("Enter Quantity: "))
    price = books_dict[book][std_key]
    amount = price * qty
    bill.append((book, qty, amount))
    total += amount
    choice = input("Continue Books? (yes/no): ")

choice = input("Do you want Notebook? (yes/no): ")

while choice == "yes":
    n_type = input("Enter Notebook Type: ")
    pages = int(input("Enter Pages: "))
    qty = int(input("Enter Quantity: "))
    price = notebook_dict[n_type][pages]
    amount = price * qty
    bill.append((f"{n_type} Notebook {pages}", qty, amount))
    total += amount
    choice = input("Continue Notebook? (yes/no): ")

gen = input("Generate Bill? (yes/no): ")

if gen == "yes":
    print("\n------ BILL ------")
    for item in bill:
        print(item[0], "x", item[1], "=", item[2])
    print("Total Amount:", total)
else:
    print("Bill not generated")

Enter Standard: 5
Do you want Books? (yes/no): yes
Enter Book Name: Hindi
Enter Quantity: 4
Continue Books? (yes/no): no
Do you want Notebook? (yes/no): yes
Enter Notebook Type: square
Enter Pages: 100
Enter Quantity: 5
Continue Notebook? (yes/no): no
Generate Bill? (yes/no): yes

------ BILL ------
Hindi x 4 = 400
square Notebook 100 x 5 = 200
Total Amount: 600

18. Create city = “Pune”

· Convert to int

· Convert float

· Convert list

· Convert tuple

· Convert dict

· Convert set

· Obsert errors and note it down for all conversions

19. Create a list as marks = [20,18,15,17,18]

· Convert to int

· Convert float

· Convert list

· Convert tuple

· Convert dict

· Convert set

· observe : errors and note it down for all conversions

In [8]:
City='Pune'
a=int(City)
print(a)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
b=float(City)
print(b)

ValueError: could not convert string to float: 'Pune'

In [ ]:
c=list(City)
print(c)

['P', 'u', 'n', 'e']

In [ ]:
d=tuple(City)
print(d)

('P', 'u', 'n', 'e')

In [ ]:
e=set(City)
print(e)

{'u', 'P', 'e', 'n'}

In [9]:
marks = [20, 18, 15, 17, 18]


int_value = int(marks[0])
print(int_value)


float_value = float(marks[0])
print(float_value)


list_value = list(marks)
print(list_value)


tuple_value = tuple(marks)
print(tuple_value)


dict_value = dict(enumerate(marks))
print(dict_value)


set_value = set(marks)
print(set_value)

20
20.0
[20, 18, 15, 17, 18]
(20, 18, 15, 17, 18)
{0: 20, 1: 18, 2: 15, 3: 17, 4: 18}
{17, 18, 20, 15}

10. Create the empty list snames

· Add value 20 in the list using append

· Add value 30 in the list using extend

· Add values in the list using append

· Add value “WORK" in the list using extend

· Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]

· Add sname to combo using addition operator

· Add combo to snames using append

· Add combo to snames using extend.

In [10]:
listo=[]

In [11]:
listo.append(20)
print(listo)
listo.extend([30])
print(listo)
listo.append(40)
listo.append(50)
print(listo)
listo.extend(['WORK'])
print(listo)
listo.extend([1,'a','b',2,3])
print(listo)

[20]
[20, 30]
[20, 30, 40, 50]
[20, 30, 40, 50, 'WORK']
[20, 30, 40, 50, 'WORK', 1, 'a', 'b', 2, 3]

11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [12]:
l1=[1,2]
l3=[3,4,5,6,7,8,9]
l1.insert(3,l1)
print(l3)
l1

[3, 4, 5, 6, 7, 8, 9]

[1, 2, [...]]

12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

· From the collection delete the record for “Nisha”

· Find the location of 20.50

In [16]:
l1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
l2=[]
for i in l1:
  if type(i)==int or type(i)==float:
    l2.append(i*5)
  else:
    l2.append(i)
print(l2)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [17]:
l1.index('Nisha')
l1.pop(5)

'Nisha'

In [18]:
print(l1)

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [19]:
l1.index(20.50)

5

13. Create a comprehensive list for square upto 10

In [20]:
[i*i for i in range(0,11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14. Create the comprehensive list to find number divisible by 13 till 200

In [21]:
[i for i in range(13,200) if i%13==0]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15. Create the list which is divisible by 4 from 300 to 400

In [22]:
[i for i in range(300,401) if i%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]

Then generate a new list based on all combination of x and y.

For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]

And output will be [[0,0],[0,1]]


If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [23]:
[[i,j] for i in range(5)  for j in range(5)]

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4]]

SET OPERATION:
22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

23. Create l2 as a list and perform set operation on s1 with l1

24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [24]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [25]:
l2=[3,4,5,6,7]
print(s1.union(l2))
print(s1.intersection(l2))
print(s1.difference(l2))
print(s1.symmetric_difference(l2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [26]:
# name = input("Enter your name: ")
# dob = input("Enter your date of birth (DD-MM-YYYY): ")
# passw=name[0:4]+'@'+dob[6:8]+dob[3:5]
# print(passw)

Enter your name: Maithili
Enter your date of birth (DD-MM-YYYY): 10-10-2003
Mait@2010

25. Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [27]:
name = input("Enter your name: ")
dob = input("Enter your date of birth (DD-MM-YYYY): ")
passw=name[0:4]+'@'+dob[6:]
print(passw)

Enter your name: sam
Enter your date of birth (DD-MM-YYYY): 12-10-2006
sam@2006

26. Create the format mentioned here.

*

* *

* * *

* * * *


27. Create the format as mentioned below:

****

***

**

*

28. Str_val = “ABCD” then create the format as mentioned below:

A

A B

A B C

A B C D

29. Create the format mentioned below:

A

BB

CCC

DDDD

30. Create the format mentioned below:

1

22

333

4444

31. Val = “ABCD” based on the Val, create the format mentioned below

D

DC

DCB

DCBA
32. Ask user to enter the string. If string is UPGRAD then output must be

D

DA

DAR

DARG

DARGP

DARGPU

In [28]:
for i in range(5):
  print('*'*i)

*
**
***
****

In [29]:
for i in reversed(range(5)):
  print('*'*i)

****
***
**
*

In [30]:
char =ord('A')
for i in range(5):
  for j in range(i):
    print(chr(char),end=" ")
    char=char+1
  print()

A
B C
D E F
G H I J

In [32]:
c = 'A'
for i in range(1,6):
    print(c * i)
    c = chr(ord(c) + 1)

A
BB
CCC
DDDD
EEEEE

In [33]:
a=1
for i in range(1,5):
  for j in range(i):
    print(a,end=" ")
  a+=1
  print()

1
2 2
3 3 3
4 4 4 4

In [34]:
char =ord('D')
for i in range(4):
  for j in range(i+1):
    print(chr(char),end=" ")
    char=char-1
  char=ord('D')
  print()

D
D C
D C B
D C B A

In [35]:
s ="UPGRAD"
rev = s[::-1]
for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DA
DAR
DARG
DARGP
DARGPU

33. Create a list of odd numbers from 1 to 10

1. Using for loop

2. Using comprehensive list

34. Create even number list using for loop from 200 to 250

In [36]:
l1=[]
for i in range(1,10):
  if i%2!=0:
    l1.append(i)
print(l1)

[1, 3, 5, 7, 9]

In [37]:
[i for i in range(1,10) if i%2!=0]

[1, 3, 5, 7, 9]

In [38]:
li=[]
for i in range(200,250):
  if i % 2==0:
    print(i)

200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248