# Bizmetric Assignment Question 1-20

1. If name = ''' Hi How are you?

Starterd learning python.

It's really interesting.''' Then what is the output of following code

· name[:]

· name[-10:-5]

· name[3:12]

· name[12:3]

· name[5,6]

· name[-4:-12]

· name[::2]

· name[::-2]

In [ ]:
name ="Hi How are you?.It's really intresting "
name[:]

"Hi How are you?.It's really intresting "

In [ ]:
name[-10:-5]

'ntres'

In [ ]:
name[3:12]

'How are y'

In [ ]:
name [12:3]

''

In [ ]:
name[5:6]

'w'

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

"H o r o?I' elyitetn "

In [ ]:
name[::-2]

" ntetiyle 'I?o r o H"

2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

a. L1[:]

b. L1[::3]

c. L1[::-2]

d. How to extract value “Happy” based on index and negative index

e. How to check type of data in list at 4th position

f. Extract values for 100, 300, 400

In [ ]:
L1= [ 'a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[::3]

['a', 30, 300, 'major']

In [ ]:
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
L1[len(L1)-2]

'Happy'

In [ ]:
L1.index("Happy")

8

In [ ]:
L1[8]
L1[-2]

'Happy'

In [ ]:
type(L1[4])

str

In [ ]:
L1[5]
L1[6]
L1[7]

400

3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

· L2[4]

· L2[1:5]

· L2[7]

· L2[7][2]

· L7[7][2:]

· L2[ : 3]

· L2[3:]

In [ ]:
l2= [1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

In [ ]:
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'Success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[7][2:]

'ccess'

In [ ]:
l2[:3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

4. From the above l2 value ‘b’ must be changed to ‘BEE’.

5. From l2 “BEE” has to discard.

6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

7. From l2 extract insect information.

In [50]:
l2[4].remove("BEE")

NameError: name 'l2' is not defined

In [ ]:
l2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [ ]:
l2

[1,
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
l2[8]

{'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}

8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

9. Based on new l2 created here extract the value 10 from l2 dictionary.

10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

· L2[4][2]

· L2[5][:]

· L2[2] [:]

· L2[1:5]

· L2[5]
· L2[5][3:-1]

· L2[-1]

· L2[-4, -3]

· L2[-4: -10]

· L2[7][2]

· L7[-7][[2:]

· L2[ :- 3]

· L2[-3:]

IF-elif-else:

11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails

If marks are more than 80 output must be “You got distinction”

For marks more than 60 output must be “You got First class”

Marks more than 40 will display “You got second class”

Marks more than or equal to 35 “PASS” Otherwise Fail


12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D

If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%

If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment

If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

In [ ]:
marks = int(input("Enter your marks: "))

if marks > 80:
    print("You got Distinction")
elif marks > 60:
    print("You got First Class")
elif marks > 40:
    print("You got Second Class")
elif marks >= 35:
    print("PASS")
else:
    print("FAIL")

Enter your marks: 54
You got Second Class

In [ ]:
salary = float(input("Enter annual salary (in LPA): "))
rating = input("Enter rating (A/B/C/D): ")

increment = 0

if salary <= 5:
    if rating == 'A':
        increment = 16
    elif rating == 'B':
        increment = 12
    elif rating == 'C':
        increment = 10
    elif rating == 'D':
        increment = 6

elif salary <= 10:
    if rating == 'A':
        increment = 14
    elif rating == 'B':
        increment = 10
    elif rating == 'C':
        increment = 8
    elif rating == 'D':
        increment = 6

elif salary <= 15:
    if rating == 'A':
        increment = 8
    elif rating == 'B':
        increment = 6
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

elif salary <= 23:
    if rating == 'A':
        increment = 7
    elif rating == 'B':
        increment = 5
    elif rating == 'C':
        increment = 4
    elif rating == 'D':
        increment = 0

new_salary = salary + (salary * increment / 100)
print("Increment:", increment, "%")
print("New Salary:", new_salary, "LPA")

13. Ask user to opt for courses for master degree based on the following

L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
subject = input("Enter subject (HR/Finance/Marketing/DS): ")
analytics = input("Analytics (Y/N): ").upper()
hostel = input("Hostel (Y/N): ").upper()
food_months = int(input("Food months: "))
transport = input("Transportation (semester/annual): ").lower()
L1 = ["HR", "Finance", "Marketing", "DS"]

total_fee = 0


course_fee = 200000


if analytics == 'Y' and subject in ["HR", "Marketing"]:
    course_fee += course_fee * 0.10

total_fee += course_fee


if hostel == 'Y':
    total_fee += 200000


total_fee += food_months * 2000


if transport == "semester":
    total_fee += 13000 * 2
elif transport == "annual":
    total_fee += 13000 * 2

print("Total Annual Cost: ₹", int(total_fee))

Enter subject (HR/Finance/Marketing/DS): HR
Analytics (Y/N): Y
Hostel (Y/N): Y
Food months: 4
Transportation (semester/annual): semester
Total Annual Cost: ₹ 454000

In [ ]:
def fun_name():
  print("Hi Everyone : ")
  return
fun_name()

Hi Everyone :

In [ ]:
[{i,i**2,i**2,i**4} for i in range(1,9)]

[{1},
 {2, 4, 16},
 {3, 9, 81},
 {4, 16, 256},
 {5, 25, 625},
 {6, 36, 1296},
 {7, 49, 2401},
 {8, 64, 4096}]

In [ ]:
count=0
for letter in 'Hello World How r u':
  if letter=='H':
    letter='W'
    count+=1
  print(letter,end=" ")

print(count)

W e l l o   W o r l d   W o w   r   u 2

In [ ]:
A='Maithili'
cd=""
for i in  A:
  cd=i+cd
print(cd)

ilihtiaM

In [ ]:
a=10.3333
b=-54.9886767666
print("The value of a = {:<10.2f} and b = {:+10.2f}".format(a,b))

The value of a = 10.33      and b =     -54.99

In [ ]:
a=10.3333
b=-54.9886767666
print("The value of a = {:-10.2f} and b = {:-10.2f}".format(a,b))

The value of a =      10.33 and b =     -54.99

In [ ]:
name = "Maithili"
rev=" "
for i in name:
  rev=i+rev
print(rev)

ilihtiaM

In [1]:


item=input("Enter item name: ")
quant=int(input("Enter quantity: "))
price=30
final_amount=quant*price
print("\n")
print("-"*40)
print("|","{:12s} Welcome to Hotel","          ","|")
print("|","Sr ","Menu ","Qunt ","price ","     ","|")

print("|",1,"  ",item,"  ",quant,"  ",final_amount,"      '","|")
print("-"*40)
print("\n")

Enter item name: idli
Enter quantity: 2


----------------------------------------
| {:12s} Welcome to Hotel            |
| Sr  Menu  Qunt  price        |
| 1    idli    2    60       ' |
----------------------------------------

In [6]:
name = input("Enter password: ")
ld=name[len(name)-2:]
print(ld)

Enter password: maithili4446
46

In [7]:
name=input("Enter name: ")
for i in range(len(name),0):
  ld=name[len(name)-i:]
  print(ld)

Enter name: maithili

In [9]:
password=input("Enter password: ")
# The 'rev' variable is not used for indexing, so it can be removed or left as is, but its content is irrelevant for the print statements.
# rev=" "
for i in range(0,len(password),2):
  # Calculate indices for the pair from the end of the password string.
  # These were the original indices, but incorrectly applied to 'rev'.
  idx1 = len(password)-(i+2)
  idx2 = len(password)-(i+1)

  # Ensure both indices are valid before printing a pair.
  if idx1 >= 0 and idx2 >= 0:
    print(password[idx1],end=" ")
    print(password[idx2],end=" ")
  # If the password has an odd length, the very first character (at index 0)
  # will be left after all pairs are processed. This condition handles that single character.
  elif idx2 == 0 and len(password) % 2 != 0:
    print(password[idx2],end=" ")

Enter password: maithili
l i h i i t m a

17. Create a=100

· Convert a to string

· Convert a to list

· Convert a to tuple

· Convert a to dict

· Convert a to set

· Convert to float

In [49]:
a = 100
stri = str(a)
l1 = list(stri)
t1 = tuple(l1)

d2 = dict(enumerate(t1))

print(d2)
print(type(d2))

{0: '1', 1: '0', 2: '0'}
<class 'dict'>

In [12]:
my_dict={}
my_dict={'Key':'Value'}
my_dict
my_dict={'Name:': 'Maithili','Age:': 23}
my_dict
my_dict.update({'Math:' :88})
print(my_dict)

{'Name:': 'Maithili', 'Age:': 23, 'Math:': 88}

In [13]:
# new_dict={'Math:' :100,'Science:' :99,'English:' :98}
# my_dict.update(new_dict)
# my_dict

In [ ]:
square={1:1,2:4,3:9,4:16}
#di={}
for i in square:
  print(i,"---> ",square[i])
 # di[i]=square[i]*100

1 --->  1
2 --->  4
3 --->  9
4 --->  16

In [ ]:
stock1={'TATA': 123.34,
        'INFO': 200.12,
        'NIFY50':{"ADANI": 900, "BAJAJ": 1000,"TATA": 600},
        "SMP": [120,30,150],
        "TCS": 320 }

In [ ]:
for i in stock1:
  print(type(stock1[i]))
  if((type(stock1[i]))==int) or ((type(stock1[i]))==float):
    if(stock1[i])==600:
      print(i)
  else:
    if type(stock1[i])==dict:
      for j in stock1[i]:
        if stock1[i][j]==600:
          print(j)
    elif type(stock1[i])==list:
      print(stock1[i])

<class 'float'>
<class 'float'>
<class 'dict'>
TATA
<class 'list'>
[120, 30, 150]
<class 'int'>

In [ ]:
my_list=[{'key':{'subkey': 1}},{'key':{'subkey':2}},
         {'key':{'subkey':3}}]
print(my_list)
my_list[1]['key']['subkey']

[{'key': {'subkey': 1}}, {'key': {'subkey': 2}}, {'key': {'subkey': 3}}]

2

In [15]:
roll=int(input("Enter Roll_Number: "))
Name=input("Enter Name: ")
marks= int(input("Enter Marks:"))

my_dict={
    'Roll_Number': roll,
    'name': Name,
    'Marks': marks
}
print(my_dict)

Enter Roll_Number: 12
Enter Name: maithili
Enter Marks:85
{'Roll_Number': 12, 'name': 'maithili', 'Marks': 85}

In [16]:
for i in range(1,3):
  Name=input("Enter Name: ")
  marks= int(input("Enter Marks:"))
  my_dict={
    'Roll_Number': i,
    'name': Name,
    'Marks': marks
     }
print(my_dict)

Enter Name: sam
Enter Marks:85
Enter Name: 74
Enter Marks:96
{'Roll_Number': 2, 'name': '74', 'Marks': 96}

In [ ]:
my_dict={}
if my_dict=={}:
  for i in range(1,3):
    Name=input("Enter Name: ")
    marks= int(input("Enter Marks:"))
    my_dict={
    'Roll_Number': i,
    'name': Name,
    'Marks': marks
     }
else:
  roll=len(s.my_dict.key())+1
  Name=input("Enter Name: ")
  marks= int(input("Enter Marks:"))

In [ ]:
df={
    "Class": 10,
    "Roll No":(1,2,3,4,5),
    "Name":['A','B','C','D','E'],
    "Physics":[90,91,92,95,96],
    "Math":[89,85,87,86,83]
}

In [ ]:
import pandas as pd
d1=pd.DataFrame(df)
d1

   Class  Roll No Name  Physics  Math
0     10        1    A       90    89
1     10        2    B       91    85
2     10        3    C       92    87
3     10        4    D       95    86
4     10        5    E       96    83

In [ ]:
l1 =[]
for i in range(10):
  var='a_'+str(i)
  globals()[var]=i*100
  l1.append(var)

In [ ]:
l1

['a_0', 'a_1', 'a_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9']

In [ ]:
a=0
b=10
while True :
  if a ==5 :
    continue
  elif a > b :
    break
  else:
     a+=2
print(a)

12

In [ ]:
a,b = 0,16
while a<b:
  b-=1
  if b%5==0 or b%3==0:
    continue
  print(b,end="\t")

14	13	11	8	7	4	2	1

In [ ]:
l1=['a',1,2,3,4,'b']
iter_l1=iter(l1)
print(iter_l1)
print(next(iter_l1))

<list_iterator object at 0x7f07b8461030>
a

In [ ]:
from itertools import islice
l1 =[1,2,3,4,5,6,7,8,9,0]
iob= islice(l1,3,6)
print(iob)

<itertools.islice object at 0x78f069725b20>

In [18]:
[10,20,30]

[10, 20, 30]

In [ ]:
list(islice(l1,3,6))

[4, 5, 6]

In [19]:
[10,12,14,16]

[10, 12, 14, 16]

In [ ]:
list

(**THUSDAY**)

In [ ]:
from itertools import cycle
count =13
for item in cycle('xyz'):
  if count > 17:
    break
  print(item,count)
  count+=1

x 13
y 14
z 15
x 16
y 17

In [39]:
###REPEAT\
from itertools import repeat
repeat_obj=repeat("abcdabcd",3)

In [40]:
next(repeat_obj)

'abcdabcd'

In [41]:
import operator
from itertools import accumulate
list(accumulate(range(1,10),operator.mul))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [43]:
from itertools import chain

my_string = "ABC"
my_nos = [1, 2, 3]
name = ("Tom", "Sam")
d1 = {"x": 10, "y": 20}

result = list(chain(my_string, my_nos, name, d1))

print(result)

['A', 'B', 'C', 1, 2, 3, 'Tom', 'Sam', 'x', 'y']

In [44]:
from itertools import chain
for i in chain(my_string,my_nos, name,d1):
  print(i)

A
B
C
1
2
3
Tom
Sam
x
y

In [45]:
from itertools import compress
letters='ABCDE'
bools=(False ,90,True,False,"elements" )

In [46]:
list(compress(letters,bools))

['B', 'C', 'E']

In [47]:
from itertools import dropwhile
list(dropwhile(lambda x: x<5, [1,2,3,1,4,-1,5,7,7,1,5,2]))

[5, 7, 7, 1, 5, 2]

In [ ]:
def greater_than_five(a):
  return a> 5
greater_than_five(6)

True

In [ ]:
from itertools import filterfalse
list( filterfalse (greater_than_five,[6,5] ) )

[5]

10.2+6.3
16.5

float

In [28]:
def oper(a,b):
  global sum1
  sum1=a+b
  print(sum1)
  mul1=a*b
  print(mul1)
  return sum1,mul1

In [29]:
y=oper(100,5)

105
500

In [30]:
def new_ad(*s):
  print(s,type(s))
  t=0
  for i in s:
    t=t+i
  return t

In [ ]:
new_ad(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

55

In [ ]:
var = lambda x: 1 if x == 1 else x * var(x-1)
print(var(5))

120

In [ ]:
sum=lambda x,y:sum(x,y)

In [31]:
sum(10,20)

TypeError: 'int' object is not iterable

In [ ]:
def recu(n):
  if n==1:
    return 1
  return n*recu(n-1)

recu(5)

120

In [38]:
var = lambda x: 1 if x == 1 else x * var(x - 1)

print(var(5))

120

In [33]:
mat_amt= lambda damt,int_rate:(damt+(damt*int_rate))
mat_amt(10000,0.1)

11000.0

In [34]:
from functools import reduce
sumen=reduce(lambda x,y:x+y,[1,2,3,4,5,6])
print(sumen)

21

In [35]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6]

# Perform summation using reduce
sum_result = reduce(lambda x, y: x + y, numbers)
print(f"Sum of numbers: {sum_result}")

Sum of numbers: 21

In [36]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6]

# Perform multiplication using reduce
mul_result = reduce(lambda x, y: x * y, numbers)
print(f"Product of numbers: {mul_result}")

Product of numbers: 720

In [37]:
def abc(a1):
  outcome ="Inside ABC0",a1
  return f"Hello abc {a1}"
def pqr(a2):
  print("inside PQR,",a2)
def calling(a4):
  print("Calling the inside function")
  var1=40
  return a4(var1)