1.Comprehensive list:
Write a list comprehension to generate squares of numbers from 1 to 10.

In [ ]:
a = [i**2 for i in range(1, 11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Create a list of even numbers between 1 and 50 using list
comprehension

In [ ]:
b = [i for i in range(1, 51) if i % 2 == 0]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

3. Convert all strings in a list to uppercase using list comprehension

In [ ]:
words = ["sam", "ram", "tom"]
u_words = [w.upper() for w in words]
print(u_words)

['SAM', 'RAM', 'TOM']

4. Given a list of integers, create a new list that contains only the positive
numbers.

In [ ]:
nums = [-5, 3, -2, 7, 0, 9]
positive_nums = [i for i in nums if i > 0]
print(positive_nums)

[3, 7, 9]

5. Create a list of tuples (num, num^2) for numbers 1 to 5.

In [ ]:
result = [(i, i**2) for i in range(1, 6)]
print(result)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension.

In [ ]:
text = "Hello World"
vowels = [ch for ch in text if ch.lower() in "aeiou"]
print(vowels)

['e', 'o', 'o']

7. Flatten a 2D list using list comprehension.

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6]]
a = [num for row in matrix for num in row]
print(a)

[1, 2, 3, 4, 5, 6]

8. Replace all negative numbers in a list with 0 using list comprehension.

In [ ]:
nums = [-3, 5, -1, 7, -9]
b = [i if i > 0 else 0 for i in nums]
print(b)

[0, 5, 0, 7, 0]

9. Given a list of words, create a list of lengths of each word.

In [ ]:
words = ["Maithili", "Revathi", "Sam"]
lengths = [len(w) for w in words]
print(lengths)

[8, 7, 3]

10. Filter out words that start with the letter 'A' or 'a'.

In [ ]:
words = ["Apple", "Banana", "Avocado", "Cherry"]
filter = [w for w in words if not w.lower().startswith("a")]
print(filter)

['Banana', 'Cherry']

11. From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension.
(Like → [“even”, “odd”, “odd”, “even”…])

In [ ]:
nums = [1, 2, 3, 4, 5]
result = ["even" if x % 2 == 0 else "odd" for x in nums]
print(result)

['odd', 'even', 'odd', 'even', 'odd']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [ ]:
nums = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print(nums)

[15, 30, 45, 60, 75, 90]

13. Write a nested list comprehension to generate a multiplication table
for 1–5.

In [17]:
table = [[i*j for j in range(1, 6)] for i in range(1, 6)]
print(table)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

14. Convert a dictionary’s keys into a list using list comprehension.

In [18]:
my_dict = {"a": 1, "b": 2, "c": 3}
keys_list = [k for k in my_dict]
print(keys_list)

['a', 'b', 'c']

15. Extract numeric digits from a string using list comprehension.

In [19]:
text = "a1b2c3"
digits = [ch for ch in text if ch.isdigit()]
print(digits)

['1', '2', '3']

16. Use list comprehension to remove all spaces from a string.

In [20]:
text = "Hello World Python"
no_spaces = [ch for ch in text if ch != " "]
result = "".join(no_spaces)
print(result)

HelloWorldPython

17. Create a list of characters that appear more than once in a string.

In [21]:
text = "programming"
duplicates = [ch for ch in text if text.count(ch) > 1]
unique_duplicates = list(set(duplicates))
print(unique_duplicates)

['m', 'r', 'g']

18. From a list of sentences, generate a list of all words (split using list
comprehension).

In [22]:
sentences = [
    "Python is easy",
    "Java is powerful",
    "C++ is fast"
]
words = [word for sentence in sentences for word in sentence.split()]
print(words)

['Python', 'is', 'easy', 'Java', 'is', 'powerful', 'C++', 'is', 'fast']

19. Create a list of unique elements from a list using list comprehension +
condition.

In [23]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique = [x for x in nums if nums.count(x) == 1]
print(unique)

[1, 3, 5]

20. Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product)

In [24]:
A = [1, 2, 3]
B = ["a", "b"]
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]